element.style {
    border-top-width: 1px;
    border-left-width: 1px;
    border-bottom-width: 1px;
    border-right-width: 1px;
    padding-right: 0px;
    padding-left: -5;
    padding-left: -5;
    height: 70px;
    width: 70px;
}

.rectangle {
    display: block;
    height: 5%;
    width: 6%;
    border-radius: 15%;

    padding-bottom: 2%;
    padding-left: 15%;
    background: #94b394;
    position: relative;
    margin-top: 10%;
    margin-left: 10%;
}



.circle {
    position: absolute;
    margin-top: -5%;

    border-radius: 50%;
    width: 15%;
    height: 23%;
    /*padding-top: 2rem;*/
    left: 40%;

    background: white;
}



.Gardening {

    margin-left: 0rem;
    font-size: 1.5vw;
}

#header {
    padding-top: 55%;
    margin-left: -195%;
    font-size: 2.25vw;
    margin-bottom: 5px;

}

#header1 {
    padding-top: 0rem;
    margin-top: 5px;
    margin-left: -195%;
    font-size: 1.2vw;
    margin-right: 2%;
}
